.full {
	background: url('img/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: 'Lato', sans-serif;
	padding-top: 100px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.navbar {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.message {
	padding-right: 200px;
	padding-left: 200px;
}

h1 {
	font-weight: 100;
	font-size: 80px;
}

h2 {
	font-weight: 300;
}

.player {
	padding: 40px 15px; 
}

.btn-sad {
	-webkit-transition: 1s;
}

.btn-sad:hover {
	background-color: #96aacf;
}

.btn-happy {	
	-webkit-transition: 1s;
}

.btn-happy:hover {
	background-color: #83E4B5;
}

.btn-shuffle {
	background-color: #d9d9d9;
	-webkit-transition: 1s;
}

.alert-custom {
	background-color: white;
}

.btn-control:focus {
	background-color: white;
}

.btn:focus {
    outline: none;
}